<link href="/cleaner/public/cleaner.css" media="screen" rel="stylesheet" type="text/css">

<div class="cleaner">
  <div class="title clearfix">
    <h1>Job Classes Failed</h1>

    <div class="filter sub_header">
      <form method="get">
        <span class="time_filter">
          From: <%= time_filter("filter_from","f",@from)%>
        </span>
        <span class="time_filter">
          To: <%= time_filter("filter_to","t",@to)%>
        </span>
        <input type="submit" value="Filter" />
      </form>
    </div>
  </div>

  <% if @count > 0 %>
    <div class="control_panel sub_header">
      <form method="post" action="cleaner?f=<%=@from%>&t=<%=@to%>">
        Action:
        <select name="action">
          <option value="clear">Clear</option>
          <option value="retry_and_claer">Retry and Clear</option>
          <option value="retry">Retry</option>
        </select>
        <input type="submit" onclick="return confirm('Are you sure?')" value="Execute" />
      </form>
    </div>
  <% end %>

  <table class="class_list">
    <tr>
      <th>Class</th>
      <th>Failed</th>
    </tr>
    <% @stats.each do |klass,count| %>
      <tr>
        <td><%= klass %></td>
        <td class="number"><%= count %></td>
      </tr>
    <% end %>
    <tr class="total">
      <td>Total</td>
      <td class="number"><%= @count%></td>
    </tr>
  </table>

  <% if @cleaner.limiter.on? %>
  <div class="warning">
    <p>
    There are more than <%= @cleaner.limiter.maximum%> jobs. ResqueCleaner handles only recent <%= @cleaner.limiter.maximum %> jobs because of performance concern.
    </p>
    <p>
      <form method="post" action="cleaner?f=<%=@from%>&t=<%=@to%>">
        <input type="hidden" value="clear_stale" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Clear all jobs older than <%= @cleaner.limiter.count %>th job."/>
        (<%= @cleaner.failure.count - @cleaner.limiter.maximum %> jobs)
      </form>
    </p>
  </div>
  <% end %>
</div>

